:root {
    --cor1: #feeed0;
    --cor2: #ed8513;
    --cor3: #9a2716;

    --fonte1: 'Poppins', sans-serif;
    --fonte2: 'Open Sans', sans-serif;
}

body {
    background-color: var(--cor1);
    color: var(--cor3);
    font-family: var(--fonte2);
    margin: 0;
}

nav.navbar .nav-link {
    text-align: center;
    font-size: 1.1em;
}

/* Cabeçalho */
header {
    background-color: var(--cor3);
    padding: 10px;
}

header img {
    height: 80px;
}

/* Título da página */
.titulo-pagina {
    background-color: var(--cor1);
    text-align: center;
    padding: 1em;
    color: var(--cor2);
}

/* Navegação */
nav {
    background-color: var(--cor3);
    text-align: center;
    width: 100%;
    padding: 1em;
    color: var(--cor1);
}

nav a {
    color: var(--cor1) !important;
    text-decoration: none;
    margin: 0 20px;
}

nav a:hover {
    color: var(--cor1);
}

/* Conteúdo principal */
main {
    padding: 30px;
    text-align: center;
}

main h2 {
    color: var(--cor2);
    font-family: var(--fonte1);
}

main img {
    width: 100%;
    max-width: 400px;
    margin: 20px 0;
}

main p {
    text-align: justify;
    line-height: 1.5;
    font-size: large;
}

/* Rodapé */
footer {
    background-color: var(--cor3);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.9rem;
}

/*Da página do cardápio*/
.prato {
    display: flex;
    align-items: center;
    gap: 1em; 
    margin-bottom: 1em;
    background-color: var(--cor1);
    padding: 1em;
    border-radius: 6px;
}

.prato img {
    width: 140px;
    height: auto;
    border: 2px solid var(--cor3);
    border-radius: 4px;
}

.prato h2 {
    color: var(--cor3);
    font-family: var(--fonte1);
    font-size: 2em; 
    margin-bottom: 0.5em;
    text-align: left;
}

.prato p {
    color: var(--cor2);
    font-family: var(--fonte2);
    font-size: 1.4em;
    margin: 0;
    line-height: 1.3em; 
}

.preco {
    color: var(--cor3);
    font-family: var(--fonte2);
    font-size: 1.5em;
    font-weight: bold;
    margin-left: auto;
}

/*Da página do contato*/
.contato-info p {
    display: flex;
    align-items: center;
    gap: 8px; 
    margin: 5px 0;
}

.contato-info .icone {
    width: 30px;  
    height: 30px;  
}

.faleConosco{
    text-align: left;
    font-family: var(--fonte2);
    font-weight: 150;
    margin-bottom: 0px;
    margin-left: 10px;
}

#formContato {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 10px;
    margin-bottom: 30px;
}

#formContato textarea {
    width: 100%;
    resize: none; 
    padding: 12px;
    border: 1.5px solid var(--cor3);
    border-radius: 8px;
    font-size: 16px;
    font-family: var(--fonte2);
    line-height: 1.5;
    background-color: var(--cor1);
    box-sizing: border-box;
}

#formContato button {
    width: 100%;
    padding: 12px;
    background-color: var(--cor3);
    color: var(--cor1);
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

#formContato button:hover {
    background-color: var(--cor2);
}

/*da página da galeria*/
.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 20px;
}

.foto {
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1 / 1;
    border: 3px solid var(--cor3) !important; 
    border-radius: 8px;
    overflow: hidden;
}

.foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;    
    display: block;
    margin: 0px;
}

/*Da página home*/
.banner {
    width: 100%;
    height: auto;
    align-items: center;
    margin: 8em;
}

.faixa-topo {
    background-color: var(--cor3);
    height: 10px;
    width: 100%;
}

.navbar-principal {
    background-color: var(--cor3); 
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar-principal .navbar-nav {
    display: flex;
    gap: 60px; 
}

.navbar-principal .nav-link {
    color: var(--cor1) !important; 
    font-size: 1.1em;
    letter-spacing: 1px;
    text-align: center;
}

/*da página Sabor do dia*/
.quem-somos img {
    display: block;
    margin: 0 auto 20px auto;
}

/* Responsividade*/
@media (max-width: 768px) {
    header img {
        height: 60px;
    }

    nav {
        padding: 10px 0;
    }

    nav a {
        display: block;
        margin: 8px 0;
        font-size: 1.1em;
    }

    .navbar-principal ul.navbar-nav {
        flex-direction: column;
        gap: 12px;
    }
    
    .prato {
        flex-direction: column;
        text-align: center;
        padding: 1em;
    }

    .prato img {
        width: 100%;
        max-width: 250px;
        margin: 0 auto;
    }

    .prato p {
        font-size: 1.1em;
        line-height: 1.4;
        text-align: center;
    }

    .preco {
        margin: 10px 0 0 0;
        font-size: 1.6em;
    }  
    
    #formContato button {
    width: 100%;
    }

    .banner {
        margin: 1em 0;
    }

    main {
        padding: 20px;
    }

    .contato-info p {
        font-size: 1.1em;
        text-align: left;
        flex-wrap: wrap;
    }

    .contato-info .icone {
        width: 26px;
        height: 26px;
    }

    nav.navbar ul.navbar-nav {
        flex-direction: column;
        gap: 10px;
    }

    .titulo-pagina h1 {
        font-size: 1.4em;
        padding: 0 10px;
    }

    .titulo-pagina h1 {
        font-size: 1.4em;
        padding: 0 10px;
    }
}
